---
import Layout from "src/layouts/page.astro";
import { marked } from "marked";
import GeneratorOutput from "src/components/generator-output.astro";

const { category, generator } = Astro.params;

const { searchParams } = Astro.url;

const res = await fetch(
  Astro.url.origin +
    `/generate/${category}/${generator}.json?n=${searchParams.get("n") ?? 1}`
).then((x) => x.json());
console.log(res);
---

<Layout title={"Generate " + res.generator}>
  <hgroup>
    <h1>Generate {res.generator}</h1>
    <nav aria-label="breadcrumbs">
      <ol>
        <li><a href="/generate">generate</a></li>
        <li><a href={`/generate/${category}`}>{category}</a></li>
        <li><a href={`/generate/${category}/${generator}`}>{generator}</a></li>
      </ol>
    </nav>
  </hgroup>
  <GeneratorOutput results={res.results} />
</Layout>
